@font-face {
    font-family: 'KumbhSansRegular';
    src: url('fonts/KumbhSansRegular.eot');
    src: url('fonts/KumbhSansRegular.eot') format('embedded-opentype'), url('fonts/KumbhSansRegular.woff2') format('woff2'), url('fonts/KumbhSansRegular.woff') format('woff'), url('fonts/KumbhSansRegular.ttf') format('truetype'), url('fonts/KumbhSansRegular.svg#KumbhSansRegular') format('svg');
}

@font-face {
    font-family: 'KumbhSansBold';
    src: url('fonts/KumbhSansBold.eot');
    src: url('fonts/KumbhSansBold.eot') format('embedded-opentype'), url('fonts/KumbhSansBold.woff2') format('woff2'), url('fonts/KumbhSansBold.woff') format('woff'), url('fonts/KumbhSansBold.ttf') format('truetype'), url('fonts/KumbhSansBold.svg#KumbhSansBold') format('svg');
}

:root {
    --desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish: hsl(240, 6%, 50%);
    --light-grayish: hsl(240, 5%, 91%);
    --font-size: 12px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(var(--soft-violet), var(--soft-blue));
    font-size: var(--font-size);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'aside article';
    column-gap: 3rem;
    background-color: white;
    width: 80%;
    border-radius: 1rem;
}

article {
    grid-area: article;
    margin: 1rem 0;
    padding: 2.5rem 0;
}

aside {
    grid-area: aside;
    position: relative;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: 120% 65%;
}

.img-mobile {
    display: none;
}

h1 {
    font-family: 'KumbhSansBold';
    font-size: 2rem;
    margin: .5rem 0;
}

button,
p {
    font-family: 'KumbhSansRegular';
}

button {
    cursor: pointer;
    padding: .5rem 1rem .1rem 0;
    text-align: left;
    border: none;
    background-color: white;
    transition: all 600ms ease-in-out;
}

button:hover {
    color: var(--soft-red);
    transition: color 0s;
}

.button {
    position: relative;
}

.button-frame+p {
    display: none;
    transition: all 600ms ease-in-out;
}

.button-frame {
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: baseline;
    width: 85%;
    padding: 1rem 0;
    cursor: pointer;
}

.button-frame img {
    max-width: 2rem;
    max-height: .5rem;
    transition: all 600ms ease-in-out;
}

.box {
    position: absolute;
    top: 11rem;
    left: -6rem;
    z-index: 2;
}

.👩🏾-container {
    overflow: hidden;
    position: absolute;
    top: 2rem;
}

.👩🏾 {
    transform: translateX(-15%);
}

.button-frame.clicked {
    width: 85%;
    border: none;
    padding-bottom: 0;
}

.button-frame.clicked {
    border: none;
    padding-bottom: 0;
    width: 85%;
}

.button-frame.clicked button {
    font-weight: bold;
}

.button-frame.clicked img {
    transform: rotate(180deg);
}

.button-frame.clicked+p {
    border-bottom: 1px solid black;
    padding-right: 2rem;
    display: block;
    width: 85%;
    margin-bottom: 0;
    padding-bottom: 1rem;
    animation: show_block 600ms ease-in-out;
}

@keyframes show_block {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

@media screen and (max-width: 999px) {
    .img-mobile {
        display: block;
        width: 15rem;
    }
    .img-desktop {
        display: none;
    }
    main {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
    }
    article {
        margin: auto;
        width: 90%;
        text-align: center;
        padding-top: .5rem;
    }
    aside {
        background-image: url(images/bg-pattern-mobile.svg);
        background-size: clamp(14rem, 17rem, 20rem);
        background-position: top center;
        height: 8rem;
        position: static;
    }
    .button-frame {
        width: 100%;
    }
    .button-frame.clicked {
        width: 100%;
    }
    .button-frame.clicked+p {
        width: 100%;
        text-align: left;
    }
    .👩🏾-container {
        overflow: visible;
        position: relative;
        top: 0;
    }
    .👩🏾 {
        top: 0;
        left: 50%;
        width: clamp(14rem, 17rem, 20rem);
        transform: translateX(-50%) translateY(-60%);
        position: absolute;
    }
}

@media screen and (max-height: 850px) and (max-width: 999px) {
    body {
        padding: 9rem 0 5rem;
    }
}